[Unit]
Description=Host Daemon
ConditionPathExists=/bin/host-daemon
After=network.target

[Service]
Type=notify
LimitNOFILE=1024

User=pi

Restart=always
RestartSec=2

ExecStart=/bin/host-daemon

[Install]
WantedBy=multi-user.target
